:root {
  --color-one: #ffffff;
  --color-two: #474554;
  --color-three: #aca7cb;
  --color-four: #f1f0f5;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.nav-link,
.navbar-brand {
  font-size: 1.2rem;
}

.bg-hero {
  background-color: var(--color-two);
}
.portfolio-hero {
  background: url("./assets/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 10rem;
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.my-pic {
  object-fit: cover;
}

.scroll-up {
  z-index: 2;
  position: fixed;
  top: 90vh;
  right: 10px;
  border-radius: 50%;
}

#myportfolio_project {
  background-color: var(--color-four);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-template-rows: auto;
  row-gap: 3rem;
  justify-items: center;
}

.card {
  width: clamp(20rem, 22rem, 24rem);
}

.card-img-top {
  cursor: pointer;
}

.footer-links {
  border-radius: 5px;
  cursor: pointer;
}

.footer-links:hover > a,
.footer-links:hover > p {
  color: var(--color-three) !important;
}
