:root {
  --color-one: #ffffff;
  --color-two: #474554;
  --color-three: #aca7cb;
}

body {
  overflow-x: hidden;
}

.nav-link,
.navbar-brand {
  font-size: 1.2rem;
}

.bg-hero {
  background-color: var(--color-two);
}
.portfolio-hero {
  background: url("./assets/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  padding-top: 10rem;
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.my-pic {
  object-fit: cover;
}
